body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}


.profile-box {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.profile-box img {
    width: 380px;
    height: 400px;
    display: flex;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    margin: 0 auto 10px auto;
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
}

.contact-info .link {
    color: blue;
    text-decoration: none;
}

.contact-info .link:hover {
    text-decoration: underline;
}


.section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #4db8ff;
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Cartões escuros */
.card {
    background-color: #222;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Conhecimentos */
.tags {
    text-align: center;
}

.tags span {
    display: inline-block;
    background-color: #4db8ff;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #4db8ff;
    padding: 8px;
}

th {
    background-color: #222;
}

/* Responsividade */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }
}
